* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --plano-fundo: #f4f4f4;
    --cor-do-texto: #007bff;
    --cor-botao: #007bff;
    --hover-botao: #0056b3;
    --texto-botao: #ffffff;
    --resultado-conta: #000000;
}


[data-tema="light"] {
    --plano-fundo: #f4f4f4;
    --cor-do-texto: #007bff;
    --cor-botao: #007bff;
    --hover-botao: #0056b3;
    --texto-botao: #ffffff;
    --resultado-conta: #000000;
}

[data-tema="dark"] {
    --plano-fundo: rgb(1, 2, 35);
    --cor-do-texto: #f8df24;
    --cor-botao: #f8df24d8;
    --texto-botao: #000000;
    --resultado-conta: #ffffff;
}


/* EXÉRCIO 1 */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--plano-fundo);
  }
  
  .container {
    margin: 50px auto;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
  }
  
  .title {
    text-align: center;
    color: var(--cor-do-texto);
  }
  
  .conteudo {
    margin-top: 20px;
  }
  
  
  label {
    display: block;
    margin-bottom: 5px;
    color: var(--cor-do-texto);
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 40px;
    box-sizing: border-box;
  }

  input:hover{
    border: 1px solid blue;
  }
  
  .btt {
    margin-top: 20px;
  }
  
  button {
    background-color: var(--cor-botao);
    color: var(--texto-botao);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: var(--hover-botao);
  }
  
  #valorFinal {
    margin-top: 20px;
    color: var(--resultado-conta);
  }
  