/* MOBILE */
@media screen and (max-width: 400px) {

    * {
        font-family: Arial, Helvetica, sans-serif;
    }

    body{
        margin: 0 30px;
    }

    .title {
         width: 100%; 
        font-size:xx-large ;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }


    section {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #input {
        font-weight: bold;
        font-size: x-large;
    }

    #clientess {
  
        margin-top: 40px;
        margin-bottom: 20px;
        background-color: aqua;
    }

    #atual {
        font-weight: bold;
        font-size: x-large;
    }

    #valor {
        font-size: medium;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .botao {
        flex-direction: column;
        gap: 10px;
    }

    #btV {
        font-weight: bold;
        font-size: medium;
    }

    #btClean {
        font-weight: bold;
        font-size: medium;
    }

    #btTrocaTema {
        position: absolute;
        bottom: 0;

    }
}

/* TABLET */
@media screen and (max-width: 768px) {


    h1 {
        width: 100%;
        font-size: 50px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    section{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    
    label {
        font-weight: bold;
        font-size: xx-large;
        font-size: xx-large;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #clientess {
        font-size:x-large;
        margin-top: 10px;
        margin-bottom: 20px;
        
    }

    #valor {
        font-size: xx-large;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .botao {
        flex-direction: column;
        gap: 20px;
    }

    #btV {
        font-weight: bold;
        font-size: x-large;
    }

    #btClean {
        font-weight: bold;
        font-size: x-large;
    }

    #valorFinal{
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    #btTrocaTema {
        position: absolute;
        bottom: 0;
        font-size: x-large;
        font-weight: bold;
        
    }



}

/* TVS */
@media screen and (min-width: 1921px) {}