* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BODY PG GERAL */
body {

    color: rgb(0, 0, 0);
    min-height: 100vh;
    background-color: #dbe1ffd1;
    font-family: Arial, Helvetica, sans-serif;
}

/* MENU\HEADER */
.menu-navegacao>ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    list-style: none;
}



.menu-navegacao a {
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    /* text-transform: uppercase; */
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    padding: 0 1rem;
    text-decoration: none;
}

.menu-navegacao a:hover {
    cursor: pointer;
    background-color: ghostwhite;
    color: #687ef8;
    transition-duration: 300ms;
}

.allHeader {
    display: flex;
    background: linear-gradient(to right, #7e91ff, #4863fc, #1808ff);
    height: 65px;
    justify-content: space-between;
}

.logo span {
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-inline-start: 2.5rem;
}

/* MENU\HEADER FINISH */


/* ARTICLE */

.gridConteudo {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

article {
    background-color: #fffaeee9;
    padding: 20px;
    border-radius: 5px;
    height: 10rem;
    overflow-y: auto;
    border-radius: 10px;
    margin: 20px;

}

article::-webkit-scrollbar {
    width: 7px;
}

article::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}

article::-webkit-scrollbar-thumb {
    background: #6c82ff;
    border-radius: 20px;
}

article::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    color: #6c82ff;
}

p {
    line-height: 18px;
    font-weight: 100;
    font-size: medium;
}

/* BOTÃO ARTICLE */

#botaoAcesso {
    width: 100px;
    background-color: #6c82ff;
    color: white;
    border-radius: 20px;
    padding: 10px 90px;
    border: none;
    margin-left: 50px;
    line-height: 70px;
    font-weight: bold;
    text-decoration: none;
}

#botaoAcesso:hover{
    cursor: pointer;
    background-color: #0000ff;
    color: white;
    font-weight: bold;
}

