* {
    margin: 0;
    padding: 0;
}


:root {
    --plano-fundo: #f4f4f4;
    --cor-do-texto: #007bff;
    --cor-botao: #007bff;
    --hover-botao: #0056b3;
    --texto-botao: #ffffff;
    --resultado-conta: #000000;
}


[data-tema="light"] {
    --plano-fundo: #f4f4f4;
    --cor-do-texto: #007bff;
    --cor-botao: #007bff;
    --hover-botao: #0056b3;
    --texto-botao: #ffffff;
    --resultado-conta: #000000;
}

[data-tema="dark"] {
    --plano-fundo: rgb(1, 2, 35);
    --cor-do-texto: #f8df24;
    --cor-botao: #f8df24d8;
    --texto-botao: #000000;
    --resultado-conta: #ffffff;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--plano-fundo);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.title {
    position: fixed;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--cor-do-texto);

}


.container {
    border-radius: 8px;
}


h1 {
    color: var(--cor-do-texto);
}

.parteUm {
    margin-bottom: 15px;
}

label {
    color: var(--cor-do-texto);
}

select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 100px;
    border: 1px solid #cccccc;
}

/* select > label:last-child {
    width: 10%;
} */

/* .botao {
    /* display: flex; */
    /* justify-content space-between} */





button {
    padding: 10px 20px;
   border: none;
    border-radius: 100px;
    background-color: var(--cor-botao);
    color: var(--texto-botao);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 50px;
    margin-left: 25px;

}

button:hover {
    background-color: var(--hover-botao);
}

#valorFinal {
    color: var(--resultado-conta);
}

#btTrocaTema {
    position: fixed;
}