* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(1, 0, 50);
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: white;
    margin-bottom: 20px;
}

#conteudo {
    color: white;
    border-radius: 10px;
    background-color: gray;
    padding: 20px;
    text-align: center;


}

