* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;

}

header{
    background-color: rgba(255, 255, 255 , 0.4);
  
}

#resultado{
    margin-top: 20px;
}

.insira{
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
   font-family: sans-serif;
}

.h1 {
    color: rgb(255, 255, 255);
    font-size: xx-large;
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
}

#btVeri {
    margin-right: 50px;
    border-radius: 15px;
    padding: 3px;
    background-color: green;
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#clean{
    border-radius: 15px;
    padding: 3px;
    color: white;
    background-color: red;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.btt {
    margin-top: 20px;
}

.all {
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 0 500px 0 500px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1.0);
}

#form {
    color: black;
}