* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY PG GERAL */
body {
    color: rgb(0, 0, 0);
    min-height: 100vh;
    background-color: #dbe1ffd1;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

/* HEADER */
header {
    background: linear-gradient(to right, #7e91ff, #4863fc, #1808ff);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}




/* MENU HAMBURGUER  */

.menu-icon {
    cursor: pointer;
    width: 3%;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  
  .menu-icon .bar {
    height: 4px;
    width: 80%;
    background-color: var(--plano-fundo);
    border-radius: 100px;
    margin: 4px 20px;
  }
  
  .menu {
    display: none;
    flex-direction: column;
    background-color: var(--plano-fundo);
    position: absolute;
    top: 100px;
  }
  
  .menu li {
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  
  .menu li:hover {
    background-color: #c5c5c529;
  }
  
  .menu li a {
    text-decoration: none;
    color: var(--cor-botao);
    padding: 15px;
    display: block;
  }
  
  .menu.active {
    display: flex;
  }
  

/* MAIN CONTENT */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

article {
    background-color: #fffaeee9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

article::-webkit-scrollbar {
    width: 7px;
}

article::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}

article::-webkit-scrollbar-thumb {
    background: #6c82ff;
    border-radius: 20px;
}

article::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    color: #6c82ff;
}

p {
    line-height: 18px;
    font-weight: 100;
    font-size: medium;
}

/* BOTÃO ARTICLE */
#botaoAcesso {
    display: inline-block;
    background-color: #6c82ff;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
}

#botaoAcesso:hover {
    cursor: pointer;
    background-color: #0000ff;
    color: white;
    font-weight: bold;
}
